In [1]:
from openpyxl import load_workbook

wb = load_workbook(filename='Table 216.xlsx', 
                   read_only=True)

ws = wb['Table 216']

# Read the cell values into a list of lists
data_rows = []
for row in ws['A7':'H462']:
    data_cols = []
    for cell in row:
        data_cols.append(cell.value)
    data_rows.append(data_cols)

# Transform into dataframe
import pandas as pd
df = pd.DataFrame(data_rows)


df.columns = ['district','sex','age_group','2016','2017','2018','2019','2020']
df = df.ffill() 
df = pd.melt(df, id_vars=['district','sex','age_group'], value_vars=['2016','2017','2018','2019','2020'], var_name='year',value_name='population')

In [2]:
df = df.pivot_table(index=['district','sex','year'], columns='age_group', values='population').reset_index()

In [3]:
df = df[df['sex']=='Both sexes']

In [4]:
population_total = df[df['district']=='Whole Territory']
population_18 = df[df['district']!='Whole Territory']

In [5]:
population_18['elderly_percentage (>=65)'] = population_18['65 and over']/population_18['Total']

population_total['elderly_percentage (>=65)'] = population_total['65 and over']/population_total['Total']

<ipython-input-5-e28f4341d69f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population_18['elderly_percentage (>=65)'] = population_18['65 and over']/population_18['Total']
<ipython-input-5-e28f4341d69f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population_total['elderly_percentage (>=65)'] = population_total['65 and over']/population_total['Total']

In [6]:
population_18

age_group,district,sex,year,0 - 14,15 - 24,25 - 34,35 - 44,45 - 54,55 - 64,65 and over,Total,elderly_percentage (>=65)
0,Central and Western,Both sexes,2016,23700,26800,38200,37500,42000,36200,36200,240600,0.150457
1,Central and Western,Both sexes,2017,23900,25500,38700,37300,40300,37300,38500,241500,0.159420
2,Central and Western,Both sexes,2018,25300,24300,39900,36300,37300,38900,40300,242400,0.166254
3,Central and Western,Both sexes,2019,25300,22800,39800,35600,35500,39500,42000,240500,0.174636
4,Central and Western,Both sexes,2020,23200,20900,39400,35800,34100,40000,42700,236000,0.180932
...,...,...,...,...,...,...,...,...,...,...,...,...
270,Yuen Long,Both sexes,2016,72600,71000,92200,99200,95500,90200,90200,610900,0.147651
271,Yuen Long,Both sexes,2017,75800,69000,93000,103700,96400,92500,94500,625000,0.151200
272,Yuen Long,Both sexes,2018,77200,66600,93900,106100,97000,97000,97700,635600,0.153713
273,Yuen Long,Both sexes,2019,79500,63400,93800,109700,97200,99500,102000,645000,0.158140
274,Yuen Long,Both sexes,2020,78300,58500,91300,110100,95200,99900,107400,640600,0.167655

In [7]:
population_total

age_group,district,sex,year,0 - 14,15 - 24,25 - 34,35 - 44,45 - 54,55 - 64,65 and over,Total,elderly_percentage (>=65)
225,Whole Territory,Both sexes,2016,828900,783000,1083800,1136100,1204200,1111300,1102500,7249800,0.152073
226,Whole Territory,Both sexes,2017,843500,754800,1072400,1148900,1190300,1142500,1154400,7306900,0.157988
227,Whole Territory,Both sexes,2018,859600,728800,1056800,1160700,1168500,1187000,1204600,7366100,0.163533
228,Whole Territory,Both sexes,2019,873400,697000,1045600,1173600,1156900,1215900,1260200,7422500,0.169781
229,Whole Territory,Both sexes,2020,867500,655900,1028600,1172100,1132900,1228700,1310100,7395900,0.177139